$primary-background: #1F1F1F;
$step-color: #F5634B;
$hydration-color: #54C6BE;
$stairs-color: #8975B2;
$sleep-color:#FBD089;

@mixin flex-container($justify-content) {
  display: flex;
  justify-content: $justify-content;
}

@mixin height-and-width($height, $width) {
  height: $height;
  width: $width;
}

@mixin header-button($float, $margin-left, $margin-right) {
  background-position: center;
  background-size: 5.6vw;
  border: none;
  display: inline;
  float: $float;
  height: 5.6vw;
  margin-left: $margin-left;
  margin-right: $margin-right;
  margin-top: 1.6vw;
  width: 5.6vw;
}

@mixin card-container($background-color, $grid-area) {
  background-color: $background-color;
  grid-area:$grid-area;
  margin: 0.5vw;
}

@mixin main-card-styling ($height) {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: $height;
  justify-content: center;
}

@mixin card-header($font-size) {
  display: inline;
  font-family: 'Work Sans', sans-serif;
  font-size: $font-size;
  font-weight: 500;
  letter-spacing: 0.2em;
}