$primary-background: rgb(216, 216, 216);
$step-color: #DDA0DD;
$hydration-color: #60e3f7;
$stairs-color: #05C793;
$sleep-color:#FFCE5C;

@mixin flex-container($justify-content) {
  display: flex;
  justify-content: $justify-content;
}

@mixin height-and-width($height, $width) {
  height: $height;
  width: $width;
}

