@import 'base';
*,
*:after,
*:before {
box-sizing: border-box;
margin: 0;
padding: 0;
color: hsl(30, 100%, 96%);
text-shadow: 2px 2px 0px #1E9EE6, 4px 4px 0px rgba(0,0,0,0.25);
}

body {
  background-color: $primary-background;
}

/* HEADER */
header {
  justify-content: center;
  text-align: center;
  height: 9vw;
}
header h1, h1 span {
  text-shadow: 1px 1px 0px rgba(0,0,0,0.25), 2px 2px 0px rgba(0,0,0,0.25);
}
button:active {
  border: none;
}

#add-activity-button {
  background-image: url(../images/navbutton.png);
  @include header-button(left, 1vw, 0.5vw);
}

#profile-button {
  background-image: url(../images/profile.png);
  @include header-button(right, 1vw, 0.5vw);
  background-color: transparent;
}

#user-activity-dropdown {
  color: white;
  margin-right: 60%;
  //margin-top: -1.2%;
  position: relative;
  text-align: center;
  z-index: 100;
}

.user-data-inputs {
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.top-section {
  @extend .user-data-inputs;
  z-index: 100;
  align-items: center;
}

.sleep-dropdown{
  @extend .user-data-inputs;
  background-color: $sleep-color;
  display: flex;
  align-items: center;
}

.activity-dropdown{
  @extend .user-data-inputs;
  background-color: $step-color;
  display: flex;
  align-items: center;
}

.hydration-dropdown{
  @extend .user-data-inputs;
  background-color: $hydration-color;
  display: flex;
  align-items: center;
}

#user-info-dropdown {
  background-color: $primary-background;
  color: white;
  margin-left: 60%;
  margin-top: -1.2%;
  position: relative;
  text-align: center;
  z-index: 100;
}

.dropdown-p {
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 1vw;
  padding-top: 0;
  text-align: center;
  width: 100%;
}

.dropdown-option {
  @extend .dropdown-p;
  font-weight: 500;
  font-size: 2em;
  color: black;
}

.data-input-field {
  @include flex-container(center);
  @include height-and-width(25px, 60px);
  margin-bottom: 2%;
}

.add-sleep-data, .add-activity-data, .add-hydration-data {
  @include height-and-width(25px, 120px);
  margin-bottom: 2%;
}

/* TEXT ELEMENTS */
h1 {
  color: #fff;
  display: inline;
  font-size: 5.4vw;
  letter-spacing: .2em;
  text-align: center;
  padding-top: 50px;
}

h2 {
  font-size: 7vw;
  letter-spacing: .1em;
}

h3 {
  display: inline;
  font-family: 'Work Sans', sans-serif;
  font-size: 2.5vw;
  font-weight: 600;
  letter-spacing: .2em;
  //justify-content: center;
}

h4 {
  font-size: 6vw;
}

h5 {
  font-size: 1.8vw;
  //padding-bottom: 1vw;
  text-align: center;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2vw;
  font-weight: 600;
  letter-spacing: .2vw;
  margin-right: 1vw;
  padding-top: 2vw;
  text-align: right;
  width: 9vw;
  word-break: keep-all;
}

/* MAIN */
main {
  display: grid;
  grid-template-areas:
  'steps hydration'
  'stairs sleep';
  height: 100%;
}

.main-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 20vw;
  justify-content: center;
}

.main-card-top-row {
  @include flex-container(space-between);
  align-items: center;
  width: 100%;
}

.main-card-bottom-row {
  text-align: center;
  width: 100%;
}

#steps-card-container {
 @include card-container($step-color, steps);
}

#hydration-card-container {
  @include card-container($hydration-color, hydration);
}

#stairs-card-container {
  @include card-container($stairs-color, stairs);
}

#sleep-card-container {
  @include card-container($sleep-color, sleep)
}

.card-data-line {
  @include flex-container(center);
  margin-bottom: 2vw;
}

.hydration-weekly-label {
  font-size: 1vw;
  padding-top: 1vw;
}

.hydration-weekly-amount {
  font-size: 2vw;
}

.hydration-data-line {
  display: flex;
  justify-content: center;
  margin-bottom: .2vw;
}

.trend-line {
  font-size: 2vw;
  text-align: center;
  width: 20vw;
}

/* BUTTONS */
.info-button {
  background-position: center;
  background-size: 3.4vw;
  border: none;
  display: inline;
  height: 3.4vw;
  margin-left: 1vw;
  width: 3.4vw;
  background-image: url('../..//information.png');
  background-color: transparent;
}

.friends-button {
  background-position: center;
  background-size: 3.4vw;
  border: none;
  display: inline;
  height: 3.4vw;
  margin-right: 1vw;
  width: 3.4vw;
  background-image: url('../..//audience.png');
  background-color: transparent;
}

.calendar-button {
  background-position: center;
  background-size: 3.4vw;
  border: none;
  display: inline;
  float: right;
  height: 3.4vw;
  margin-right: 1vw;
  width: 3.4vw;
  background-image: url('../..//calendar.png');
  background-color: transparent;
}

.go-back-button {
  background-position: center;
  background-size: 3.4vw;
  border: none;
  height: 3.4vw;
  margin-left: 1vw;
  width: 3.4vw;
  background-image: url('../..//undo.png');
  background-color: transparent;
}

// .steps-go-back-button {
//   background-image: url(../images/steps-goback.png);
// }

// .steps-info-button {
//   background-image: url(../images/steps-info.png);
// }

// .steps-friends-button {
//   background-image: url(../images/steps-friends.png);
// }

// .steps-calendar-button {
//   background-image: url(../images/steps-calendar.png);
//   color: $step-color
// }

// .hydration-go-back-button {
//   background-image: url(../images/hydration-goback.png);
// }

// .hydration-info-button {
//   background-image: url(../images/hydration-info.png);
// }

// .hydration-friends-button {
//   background-image: url(../images/hydration-friends.png);
// }

// .hydration-calendar-button {
//   background-image: url(../images/hydration-calendar.png);
// }

// .stairs-go-back-button {
//   background-image: url(../images/stairs-goback.png);
// }

// .stairs-info-button {
//   background-image: url(../images/stairs-info.png);
// }

// .stairs-friends-button {
//   background-image: url(../images/stairs-friends.png);
// }

// .stairs-calendar-button {
//   background-image: url(../images/stairs-calendar.png);
// }

// .sleep-go-back-button {
//   background-image: url(../images/sleep-goback.png);
// }

// .sleep-info-button {
//   background-image: url(../images/sleep-info.png);
// }

// .sleep-friends-button {
//   background-image: url(../images/sleep-friends.png);
// }

// .sleep-calendar-button {
//   background-image: url(../images/sleep-calendar.png);
// }


// .steps-trending-button {
//   background-image: url(../images/steps-trending.png);
// }

// .stairs-trending-button {
//   background-image: url(../images/stairs-trending.png);
// }

/* CHANGING CLASSES */
.hide {
  display: none;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

.yellow-text {
  color: #F8BA00;
}

.white-text {
  color: white;
}

@media screen and (max-width: 414px) {
  
  header {
    position: fixed;
    top: 0;
    margin-bottom: 10%;
    background-color: $primary-background;
    width: 100%;
  }
  
  main {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 11%;
  }

  .card-container {
    margin: 0;
    height: 20%;
  }

  .main-card, .info-card, .friends-card, .calendar-card  {
    height: 100%;
    overflow-y: scroll
  }

  .icon, .info-button, .calendar-button, .go-back-button {
    @include height-and-width(4vh, 4vh);
    background-size: cover;
    background-repeat: no-repeat;
    align-self: flex-end;
  }

  .friends-button {
    @extend .icon;
    @include height-and-width(6vh, 6vh);

  }

  header h1, h1 span {
    @include card-header(3vh);
    font-weight: bolder;
  }

  h2, h3, h4 {
    justify-content: center;
    @include card-header(3vh);
    font-weight: bolder;
    text-align: center;
    width: 100%;
  }

  .card-data-line h4 {
    @include card-header(3vh);
    text-align: right;
  }

  .hydration-data-line, .card-data-line {
    display: block;
    text-align: center
  }

  .hydration-weekly-amount, .hydration-weekly-label {
    @include card-header(1.85vh);

  }

  .card-data-line p {
    @include card-header(2vh);
    margin: 10%;
  }

  .hide {
    display: none;
  }
}